In [1]:
import pandas as pd
import json

In [26]:
game_df = pd.read_csv('gamescsv.csv', encoding='latin-1')

In [29]:
gameid_list = list(game_df['GAMEID'])

In [32]:
len(gameid_list)

12788

In [2]:
game_info_df = pd.read_csv('games-features.csv')

In [3]:
game_info_df.shape

(13357, 78)

In [2]:
review_df = pd.read_csv('steam.csv', names=['game_id', 'review', 'sentiment', 'helpful_review'])

In [3]:
review_df[review_df['review'].str.contains("￥")]

ValueError: cannot index with vector containing NA / NaN values

In [8]:
review_df.shape

(6417106, 4)

In [4]:
user_df = pd.read_csv('steam-200k.csv', usecols = [0,1,2,3] ,names = ['user_id', 'game_name', 'purchase', 'play_hours'])

In [5]:
user_df.head()

     user_id                   game_name  purchase  play_hours
0  151603712  The Elder Scrolls V Skyrim  purchase         1.0
1  151603712  The Elder Scrolls V Skyrim      play       273.0
2  151603712                   Fallout 4  purchase         1.0
3  151603712                   Fallout 4      play        87.0
4  151603712                       Spore  purchase         1.0

In [6]:
user_df.shape

(200000, 4)

In [3]:
game_info_dic1 = []
with open('games.json') as f:
    for line in f:
        game_info_dic1.append(json.loads(line))

In [4]:
len(game_info_dic1)

34059

In [33]:
game_info = []
for items in game_info_dic1:
    if items['query_appid'] in gameid_list:
        game_info.append(items)
        gameid_list.remove(items['query_appid'])

In [36]:
len(game_info)

12788

In [ ]:
game_info

In [ ]:
game_info_dic1

In [37]:
with open('games_new_cleaned_final.json', 'w') as outfile:
    json.dump(game_info, outfile)

In [14]:
with open('steamspy.json') as f:
    game_info_dic2 = json.load(f)

In [15]:
game_info_dic2['570']

{'appid': 570,
 'name': 'Dota 2',
 'developer': 'Valve',
 'publisher': 'Valve',
 'score_rank': 76,
 'owners': 90687580,
 'owners_variance': 215972,
 'players_forever': 90687580,
 'players_forever_variance': 215972,
 'players_2weeks': 10658208,
 'players_2weeks_variance': 84193,
 'average_forever': 11905,
 'average_2weeks': 1191,
 'median_forever': 298,
 'median_2weeks': 658,
 'ccu': 862031,
 'price': '0'}

In [16]:
game_info_df.columns

Index(['QueryID', 'ResponseID', 'QueryName', 'ResponseName', 'ReleaseDate',
       'RequiredAge', 'DemoCount', 'DeveloperCount', 'DLCCount', 'Metacritic',
       'MovieCount', 'PackageCount', 'RecommendationCount', 'PublisherCount',
       'ScreenshotCount', 'SteamSpyOwners', 'SteamSpyOwnersVariance',
       'SteamSpyPlayersEstimate', 'SteamSpyPlayersVariance',
       'AchievementCount', 'AchievementHighlightedCount', 'ControllerSupport',
       'IsFree', 'FreeVerAvail', 'PurchaseAvail', 'SubscriptionAvail',
       'PlatformWindows', 'PlatformLinux', 'PlatformMac', 'PCReqsHaveMin',
       'PCReqsHaveRec', 'LinuxReqsHaveMin', 'LinuxReqsHaveRec',
       'MacReqsHaveMin', 'MacReqsHaveRec', 'CategorySinglePlayer',
       'CategoryMultiplayer', 'CategoryCoop', 'CategoryMMO',
       'CategoryInAppPurchase', 'CategoryIncludeSrcSDK',
       'CategoryIncludeLevelEditor', 'CategoryVRSupport', 'GenreIsNonGame',
       'GenreIsIndie', 'GenreIsAction', 'GenreIsAdventure', 'GenreIsCasual',
       'GenreIsStrategy', 'GenreIsRPG', 'GenreIsSimulation',
       'GenreIsEarlyAccess', 'GenreIsFreeToPlay', 'GenreIsSports',
       'GenreIsRacing', 'GenreIsMassivelyMultiplayer', 'PriceCurrency',
       'PriceInitial', 'PriceFinal', 'SupportEmail', 'SupportURL', 'AboutText',
       'Background', 'ShortDescrip', 'DetailedDescrip', 'DRMNotice',
       'ExtUserAcctNotice', 'HeaderImage', 'LegalNotice', 'Reviews',
       'SupportedLanguages', 'Website', 'PCMinReqsText', 'PCRecReqsText',
       'LinuxMinReqsText', 'LinuxRecReqsText', 'MacMinReqsText',
       'MacRecReqsText'],
      dtype='object')

In [10]:
game_df = game_info_df[['QueryID', 'QueryName', 'ReleaseDate', 'RequiredAge', 'Metacritic', 'RecommendationCount',
                        'SteamSpyPlayersEstimate', 'PriceCurrency', 'PriceInitial', 'PriceFinal', 'SupportURL',
                        'AboutText', 'Background', 'HeaderImage']]

In [11]:
game_df.dtypes

QueryID                      int64
QueryName                   object
ReleaseDate                 object
RequiredAge                  int64
Metacritic                   int64
RecommendationCount          int64
SteamSpyPlayersEstimate      int64
PriceCurrency               object
PriceInitial               float64
PriceFinal                 float64
SupportURL                  object
AboutText                   object
Background                  object
HeaderImage                 object
dtype: object

In [12]:
game_df.loc[:,'ReleaseDate'] = pd.to_datetime(game_df['ReleaseDate'], errors = 'coerce')
game_df = game_df.rename(columns = {'QueryID':'GameID', 'QueryName': 'Name', 'Metacritic':'Rating'})

C:\Users\liuyi\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
game_df.isnull().any()

GameID                     False
Name                        True
ReleaseDate                 True
RequiredAge                False
Rating                     False
RecommendationCount        False
SteamSpyPlayersEstimate    False
PriceCurrency              False
PriceInitial               False
PriceFinal                 False
SupportURL                  True
AboutText                  False
Background                 False
HeaderImage                False
dtype: bool

In [16]:
game_df = game_df.dropna(subset = ['Name'])
game_df.isnull().any()

GameID                     False
Name                       False
ReleaseDate                 True
RequiredAge                False
Rating                     False
RecommendationCount        False
SteamSpyPlayersEstimate    False
PriceCurrency              False
PriceInitial               False
PriceFinal                 False
SupportURL                  True
AboutText                  False
Background                 False
HeaderImage                False
dtype: bool

In [17]:
game_df.shape

(13356, 14)

In [18]:
review_df.isnull().any()

NameError: name 'review_df' is not defined

In [24]:
review_df = review_df.dropna(subset = ['review'])
review_df.isnull().any()

game_id           False
review            False
sentiment         False
helpful_review    False
dtype: bool

In [25]:
review_df.dtypes

game_id            int64
review            object
sentiment          int64
helpful_review     int64
dtype: object

In [7]:
user_df.dtypes

user_id         int64
game_name      object
purchase       object
play_hours    float64
dtype: object

In [8]:
user_df.isnull().any()

user_id       False
game_name     False
purchase      False
play_hours    False
dtype: bool

In [19]:
game_df = game_df.drop_duplicates(subset = ['GameID'])

In [92]:
review_df = review_df.reset_index().rename(columns = {'index': 'review_id'})

In [20]:
new_user_df = user_df.merge(game_df, left_on = 'game_name', right_on = 'Name')[['GameID','Name', 'user_id', 'game_name', 'purchase', 'play_hours']]
new_user_df.shape

(123632, 6)

In [25]:
new_user_df_2 = new_user_df.groupby(['GameID','game_name','user_id'])['play_hours'].max().reset_index()

In [22]:
# new_user_df_3 = user_df.groupby(['user_id','game_name'])['play_hours'].max()

In [23]:
user_df.columns

Index(['user_id', 'game_name', 'purchase', 'play_hours'], dtype='object')

In [45]:
new_user_df_2['purchase'] = 'purchase'
# new_user_df_2[new_user_df_2['play_hours'] == 1]['purchase'] = 'purchase'
new_user_df_2.loc[new_user_df_2['play_hours'] != 1, 'purchase'] = 'play'

In [46]:
new_user_df_2

       GameID                   game_name    user_id  play_hours  purchase
0          10              Counter-Strike       5250         1.0  purchase
1          10              Counter-Strike      76767       365.0      play
2          10              Counter-Strike      86540         1.0  purchase
3          10              Counter-Strike     103360         1.0  purchase
4          10              Counter-Strike     144736         1.0  purchase
5          10              Counter-Strike     181212         1.8      play
6          10              Counter-Strike     229911        45.0      play
7          10              Counter-Strike     298950         1.0  purchase
8          10              Counter-Strike     299153         1.0  purchase
9          10              Counter-Strike     381543         3.0      play
10         10              Counter-Strike     547685        22.0      play
11         10              Counter-Strike     554278         1.0  purchase
12         10              Counter-Strike     561758         1.0  purchase
13         10              Counter-Strike     577614        36.0      play
14         10              Counter-Strike     604988         1.0  purchase
15         10              Counter-Strike     622362        22.0      play
16         10              Counter-Strike     635733         1.0  purchase
17         10              Counter-Strike     683019         1.0  purchase
18         10              Counter-Strike     714122         1.0  purchase
19         10              Counter-Strike     748719        13.6      play
20         10              Counter-Strike     835015         1.0  purchase
21         10              Counter-Strike     861238         1.0  purchase
22         10              Counter-Strike     871990         3.0      play
23         10              Counter-Strike     937567         1.0  purchase
24         10              Counter-Strike     948368         5.2      play
25         10              Counter-Strike     975449         1.0  purchase
26         10              Counter-Strike     976129         1.0  purchase
27         10              Counter-Strike     983600         1.0  purchase
28         10              Counter-Strike     994489      1087.0      play
29         10              Counter-Strike    1006880         1.0  purchase
...       ...                         ...        ...         ...       ...
75888  417890              Apotheon Arena  309181805         1.0  purchase
75889  418040                       hocus  195072781         1.0  purchase
75890  418280                 Retaliation  300708628         1.0  purchase
75891  421810                    OH! RPG!   76892907         1.0  purchase
75892  421810                    OH! RPG!   88525821         1.0  purchase
75893  422630  Metaverse Construction Kit  194670621         1.0  purchase
75894  422630  Metaverse Construction Kit  258531019         1.0  purchase
75895  422630  Metaverse Construction Kit  299211913         1.0  purchase
75896  423770          Our Love Will Grow  113546110         1.0  purchase
75897  423880                  Carpe Diem   47384202         1.0  purchase
75898  423880                  Carpe Diem   88705345         1.0  purchase
75899  423880                  Carpe Diem  225176638         1.0  purchase
75900  423880                  Carpe Diem  234024191         1.0  purchase
75901  423880                  Carpe Diem  304037281         1.0  purchase
75902  488080                        Taxi  155919035         1.5      play
75903  495910      Dungeon Fighter Online   58345543         1.0  purchase
75904  495910      Dungeon Fighter Online   73726855         1.0  purchase
75905  495910      Dungeon Fighter Online   86912006         1.0  purchase
75906  495910      Dungeon Fighter Online  157636450         1.0  purchase
75907  495910      Dungeon Fighter Online  166863117         1.0  purchase
75908  495910      Dungeon Fighter Online  168163793         1.0  purchase
75909  495910      Dungeon Fighter Online  176771895         1.0  purchase
75910  495910      Dungeon Fighter Online  189734107         1.0  purchase
75911  495910      Dungeon Fighter Online  197904909         1.0  purchase
75912  495910      Dungeon Fighter Online  204795948         1.0  purchase
75913  495910      Dungeon Fighter Online  210905793         1.0  purchase
75914  495910      Dungeon Fighter Online  216088282         1.0  purchase
75915  495910      Dungeon Fighter Online  219466905         1.0  purchase
75916  495910      Dungeon Fighter Online  246439849         1.0  purchase
75917  495910      Dungeon Fighter Online  248444377         1.0  purchase

[75918 rows x 5 columns]

In [47]:
# game_df.to_csv('cleaned_games.csv', index = False)
new_user_df_2.to_csv('cleaned_users.csv', index = False)
# review_df.to_csv('cleaned_review.csv', index = False)

In [28]:
# import sqlalchemy
# database_username = 'ENTER USERNAME'
# database_password = 'ENTER USERNAME PASSWORD'
# database_ip       = 'ENTER DATABASE IP'
# database_name     = 'ENTER DATABASE NAME'
# database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
#                                                format(database_username, database_password, 
#                                                       database_ip, database_name))

In [27]:
# game_info_df.to_sql('games', con = '')

TypeError: to_sql() missing 1 required positional argument: 'con'

In [31]:
# game_df.columns

Index(['GameID', 'Name', 'ReleaseDate', 'RequiredAge', 'Rating',
       'RecommendationCount', 'SteamSpyPlayersEstimate', 'PriceCurrency',
       'PriceInitial', 'PriceFinal', 'SupportURL', 'AboutText', 'Background',
       'HeaderImage'],
      dtype='object')

In [32]:
user_df.columns

Index(['user_id', 'game_name', 'purchase', 'play_hours'], dtype='object')

In [35]:
game_df.iloc[1166,:]

GameID                                                                 47730
Name                                         Dragon Age: Origins - Awakening
ReleaseDate                                              2010-03-16 00:00:00
RequiredAge                                                               17
Rating                                                                    82
RecommendationCount                                                        0
SteamSpyPlayersEstimate                                                54702
PriceCurrency                                                            USD
PriceInitial                                                            9.99
PriceFinal                                                              9.99
SupportURL
AboutText                  From the Makers of the Best RPG of 2009 Dragon...
Background                 http://cdn.akamai.steamstatic.com/steam/apps/4...
HeaderImage                http://cdn.akamai.steamstatic.com/steam/apps/4...
Name: 1167, dtype: object

In [37]:
review_df.columns

Index(['game_id', 'review', 'sentiment', 'helpful_review'], dtype='object')

In [39]:
review_df.head()

,review_id,game_id,review,sentiment,helpful_review
0,0,10,Ruined my life.,1,0
1,1,10,This will be more of a ''my experience with th...,1,1
2,2,10,This game saved my virginity.,1,0
3,3,10,• Do you like original games? • Do you like ga...,1,0
4,4,10,"Easy to learn, hard to master.",1,1

In [106]:
review_df['review1'] = review_df['review'].astype(str).str[0:4000]
review_df['review2'] = review_df['review'].astype(str).str[4000:8000]
review_df['review3'] = review_df['review'].astype(str).str[8000:12000]
review_df['review4'] = review_df['review'].astype(str).str[12000: 16000]
review_df['review5'] = review_df['review'].astype(str).str[16000:]

In [107]:
review_df.head()

,review_id,review_id,game_id,review,sentiment,helpful_review,review1,review2,review3,review4,review5
0,0,0,10,Ruined my life.,1,0,Ruined my life.,,,,
1,1,1,10,This will be more of a ''my experience with th...,1,1,This will be more of a ''my experience with th...,,,,
2,2,2,10,This game saved my virginity.,1,0,This game saved my virginity.,,,,
3,3,3,10,• Do you like original games? • Do you like ga...,1,0,• Do you like original games? • Do you like ga...,,,,
4,4,4,10,"Easy to learn, hard to master.",1,1,"Easy to learn, hard to master.",,,,

In [109]:
review_df = review_df.replace('', ' ')

In [110]:
review_df.to_csv('cleaned_review_new.csv', index = False)

In [101]:
game_df['aboutText1'] = game_df['AboutText'].astype(str).str[0:4000]
game_df['aboutText2'] = game_df['AboutText'].astype(str).str[4000:8000]
game_df['aboutText3'] = game_df['AboutText'].astype(str).str[8000:12000]
game_df['aboutText4'] = game_df['AboutText'].astype(str).str[12000: 16000]
game_df['aboutText5'] = game_df['AboutText'].astype(str).str[16000:]

In [102]:
game_df.head()

,GameID,Name,ReleaseDate,RequiredAge,Rating,RecommendationCount,SteamSpyPlayersEstimate,PriceCurrency,PriceInitial,PriceFinal,SupportURL,AboutText,Background,HeaderImage,aboutText1,aboutText2,aboutText3,aboutText4,aboutText5
0,10,Counter-Strike,2000-11-01,0,88,68991,9140731,USD,9.99,9.99,http://steamcommunity.com/app/10,Play the worlds number 1 online action game. E...,http://cdn.akamai.steamstatic.com/steam/apps/1...,http://cdn.akamai.steamstatic.com/steam/apps/1...,Play the worlds number 1 online action game. E...,,,,
1,20,Team Fortress Classic,1999-04-01,0,0,2439,753627,USD,4.99,4.99,,One of the most popular online action games of...,http://cdn.akamai.steamstatic.com/steam/apps/2...,http://cdn.akamai.steamstatic.com/steam/apps/2...,One of the most popular online action games of...,,,,
2,30,Day of Defeat,2003-05-01,0,79,2319,1709740,USD,4.99,4.99,,Enlist in an intense brand of Axis vs. Allied ...,http://cdn.akamai.steamstatic.com/steam/apps/3...,http://cdn.akamai.steamstatic.com/steam/apps/3...,Enlist in an intense brand of Axis vs. Allied ...,,,,
3,40,Deathmatch Classic,2001-06-01,0,0,888,789676,USD,4.99,4.99,,Enjoy fast-paced multiplayer gaming with Death...,http://cdn.akamai.steamstatic.com/steam/apps/4...,http://cdn.akamai.steamstatic.com/steam/apps/4...,Enjoy fast-paced multiplayer gaming with Death...,,,,
4,50,Half-Life: Opposing Force,1999-11-01,0,0,2934,705741,USD,4.99,4.99,,Return to the Black Mesa Research Facility as ...,http://cdn.akamai.steamstatic.com/steam/apps/5...,http://cdn.akamai.steamstatic.com/steam/apps/5...,Return to the Black Mesa Research Facility as ...,,,,

In [105]:
game_df.to_csv('cleaned_games_new.csv', index = False)

In [103]:
game_df = game_df.replace('', ' ')

In [104]:
game_df.shape

(13303, 19)

In [111]:
review_df.shape

(6409801, 11)